<article class="blog-component">
    <h3 class="blog-component__label">Как сварить кофе в турке:</h3>
    <section class="blog-component__content">
        <img class="blog-component__content-img" src="/assets/images/blog/cezve/cezve-drop-coffee.jpg" alt="cezve with beans img">
        <div class="blog-component__content-info">
            <p class="blog-component__info-item">Сварить кофе в турке – это несложно. Это любимый способ приготовления кофе дома у многих. С другой стороны это тонкий, требующий особого подхода инструмент. При всей своей простоте, процесс требует максимальной концентрации внимания и выполнения
                множества условий. Настоящая кофейная церемония, где каждое движение отзывается во вкусе.</p>
            <p class="blog-component__info-item">Для того, чтобы приготовить кофе в турке, нужна хорошая жерновая кофемолка, способная производить мелкий помол. Помимо кофемолки нужна нужна питьевая вода с низкой минерализацией (50–150 мг/л), комнатной температуры, свежеобжаренный кофе,
                ложка для перемешивания и сама турка, или, как ее еще называют, ибрик или джезва. Советую использовать медную или керамическую турку. </p>
            <p class="blog-component__info-item">При приготовлении кофе в турке обычно используется мелкий помол, как для эспрессо или чуть мельче. Мы рекомендуем отойти от слишком мелких фракций «в пыль» и попробовать помол покрупнее.</p>
            <img class="blog-component__additional-img" src="/assets/images/blog/cezve/cezve-with-beans.png" alt="">
            <p class="blog-component__info-item">Если вы хотите разнообразить вкус напитка, в турку можно добавить сахар и специи, например, кардамон, корицу или анис. В любом случае пользуйтесь правилом – добавляйте сыпучие ингредиенты (специи) к молотому кофе, а жидкие (сироп) к воде.</p>
            <p class="blog-component__info-item">Какой сорт кофе лучше использовать для приготовления в турке? Любой. Выбор сорта кофе – это дело вкуса. Не бойтесь пробовать робусту – она прекрасно ведет себя в турке. Для того, чтобы сварить кофе в турке, вы можете использовать кофе любой
                степени обжарки, какая вам нравится.</p>
            <p class="blog-component__info-item">Вопрос о том, мешать или не мешать кофе, приготовляемый в турке, спорный. На наш взгляд, если кофе помешать, когда он уже снят с огня, то получается намного более чистая чашка, т.к. взвесь, присутствующая в пене, оседает на дно. Однако сторонники
                того, чтобы не мешать кофе во время приготовления, утверждают, что в каждую чашку должно попасть равное количество пены. Мешать или не мешать – дело предпочтений, но, в любом случае, процесс перемешивания происходит только на финальном
                этапе приготовления.</p>
            <p class="blog-component__info-item">Итак, за дело!</p>
        </div>

    </section>
</article>