<article class="main-title">
    <h1 class="main-title__header">Свежеобжаренный кофе</h1>
    <section class="main-title__content">
        <span class="main-title__1st-row">Кофе Волгоградской обжарки из разных стран произрастания с доставкой на дом.</span>
        <span class="main-title__2nd-row">Мы обжариваем кофе <strong>каждый день.</strong></span>
        <input class="main-title__button" type="button" value="Посмотреть каталог">
    </section>
    <div class="main-title__photo-decoration">
        <div class="main-title__coffee-cup"></div>
        <div class="main-title__cofee-beans"></div>
        <div class="main-title__orange-background"></div>
    </div>
</article>