<article class="catalog-exp">
    <h2 class="catalog-exp__title">Каталоги нашей продукции</h2>
    <section class="catalog-exp__section">
        <ul class="catalog-exp__product-cards">
            <li class="catalog-exp__product-card freash-coffee">
                <img class="catalog-exp__img" src="/assets/images/catalogExplorer/freash-coffee.png" alt="freash coffee img">
                <span class="catalog-exp__span">Свежеобжаренный кофе</span>
                <input class="catalog-exp__button" type="button" value="Купить">
            </li>
            <li class="catalog-exp__product-card tea-and-drinks">
                <img class="catalog-exp__img" src="/assets/images/catalogExplorer/tea-and-drinks.png" alt="tea and drinks img">
                <span class="catalog-exp__span">Чай и кофейные напитки</span>
                <input class="catalog-exp__button" type="button" value="Купить">
            </li>
            <li class="catalog-exp__product-card vending-production">
                <img class="catalog-exp__img" src="/assets/images/catalogExplorer/vending-production.png" alt="vending production img">
                <span class="catalog-exp__span">Продукция для вендинга</span>
                <input class="catalog-exp__button" type="button" value="Купить">
            </li>
            <li class="catalog-exp__product-card healthy-eating">
                <img class="catalog-exp__img" src="/assets/images/catalogExplorer/healthy-eating.png" alt="healthy eating img">
                <span class="catalog-exp__span">Здоровое питание</span>
                <input class="catalog-exp__button" type="button" value="Купить">
            </li>
        </ul>
    </section>
</article>