.wrapper {
    padding-top: 300px;
    width: 100%;
    background-image: url('/assets/images/footer/background.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.footer {
    width: 85%;
    margin: 50px auto;
    &__label {
        font-size: 1.7em;
    }
    &__content {
        margin-top: 50px;
    }
    &__title {
        display: block;
        width: 55%;
        line-height: 130%;
    }
    &__email-form {
        margin-top: 60px;
    }
    &__email-form.wrong {
        .footer__input {
            animation-name: red-light;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-iteration-count: 2;
        }
        @keyframes red-light {
            0% {
                box-shadow: none;
            }
            50% {
                box-shadow: 0 0 10px 1px #ff4444;
            }
            100% {
                box-shadow: none;
            }
        }
    }
    &__input {
        width: 810px;
        border-radius: 40px;
        height: 60px;
        background: rgb(243, 243, 243);
        padding: 5px 40px;
        border: none;
        outline: none;
        overflow: hidden;
    }
    // &__input-label {
    //     cursor: pointer;
    //     display: block;
    //     position: relative;
    //     left: 40px;
    //     top: -48px;
    //     
    //     font-size: 25px;
    //     transition: .2s;
    // }
    &__input::placeholder {
        color: #8d8d8d;
        cursor: pointer;
        transition: .4s ease;
    }
    &__input:focus::placeholder {
        transform: translateY(-50px);
        transition: .4s ease;
    }
    //  //  //  //  //  
    &__button {
        cursor: pointer;
        display: block;
        width: 250px;
        height: 70px;
        position: relative;
        top: -70px;
        left: 640px;
        border-radius: 40px;
        border: none;
        color: white;
        background-color: rgb(249, 179, 0);
        font-size: 25px;
        transition: .2s;
    }
    &__button:hover {
        background-color: rgb(226, 163, 0);
        // box-shadow: 0 0 20px 2px rgba(255, 183, 0, 0.5);
        transition: .1s ease-in;
    }
    &__button:active {
        background-color: rgb(255, 200, 0);
        box-shadow: 0 0 5px 1px rgb(255, 200, 0);
        transition: .05s ease;
    }
    &__button.active {
        cursor: unset;
        left: 0px;
        width: 890px;
        transition: .5s ease-out;
        &:hover {
            background-color: rgb(255, 200, 0);
            box-shadow: 0 0 5px 1px rgb(255, 200, 0);
        }
    }
    &__user-agreement {
        display: block;
        margin-top: -50px;
        font-size: 16px;
    }
    &__user-agreement a {
        color: rgb(230, 165, 0);
        border-bottom: 2px solid rgba(249, 179, 0, 0);
        transition: .1s ease;
    }
    &__user-agreement a:hover {
        border-bottom: 2px solid rgb(249, 179, 0);
        transition: .1s ease;
    }
    &__nav {
        box-shadow: 0 5px 10px 1px rgb(249, 179, 0);
        margin-top: 200px;
        padding: 40px 10%;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a:hover {
            border-bottom: 2px solid rgb(249, 179, 0);
        }
        &__logo {}
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
            &__catalog-products {}
            &__blog {}
            &__contacts {}
        }
    }
    &__background-cup {
        position: absolute;
        width: 40%;
        right: 0px;
    }
}