<img class="footer__background-cup" src="/assets/images/footer/cup_with_beans.png" alt="">
<div class="wrapper">
    <article class="footer">

        <h4 class="footer__label">Подписка на новости и рассылку</h4>
        <section class="footer__content">
            <span class="footer__title">Подпишитесь на нашу рассылку прямо сейчас и будьте в курсе новых поставок, скидок и эксклюзивных предложений.</span>
            <div class="footer__email-form">
                <input class="footer__input" type="text" id="email" required placeholder="Ваш email">
                <button (click)="ChangeView()" class="{{ classButton }}">{{ buttonText }}</button>
                <span class="footer__user-agreement">Нажимая на кнопку “Подписаться”, вы принимаете правила <a routerLink="user-agreement" target="_blank" rel="noopener noreferrer">пользовательского соглашения</a></span>
            </div>
        </section>

    </article>
    <div class="footer__nav">
        <div class="footer__logo"><a routerLink="">Diachenko</a></div>
        <ul class="nav">
            <li class="nav__catalog-products">
                <a href="#catalog">Каталог товаров</a>
            </li>
            <li class="nav__blog">
                <a href="">Блог</a>
            </li>
            <li class="nav__contacts">
                <a routerLink="/contacts">Контакты</a>
            </li>
        </ul>
    </div>
</div>