<article class="blog-component">
    <h3 class="blog-component__label">Как сварить кофе в автомате:</h3>
    <section class="blog-component__content">
        <div class="blog-component__content-info">
            <p class="blog-component__info-item">Для того, чтобы сварить кофе в автомате в действительности не нужно уметь готовить кофе. Нужно лишь иметь кофейный автомат в относительно средней доступности (главное - в комфортной).</p>
            <p class="blog-component__info-item">Вендинговые кофе-аппараты имеют большие габариты и в высоту соразмерны с ростом человека или выше. Чем выше кофейный аппарат, тем удобнее он для использования - не надо нагибаться, чтобы забрать сдачу и стакан с напитком. Большие габариты
                позволяют разместить внутри аппарата бункера для ингредиентов большей емкости.</p>
            <img class="blog-component__content-img" src="/assets/images/blog/coffeemaker/coffeemaker.jpg" alt="cezve with beans img">
            <p class="blog-component__info-item">Использование автомата сводится к простым принципам:</p>
            <ul>
                <li>Находим автомат</li>
                <li>Выбираем тип кофе</li>
                <li>Можно выбрать добавки</li>
                <li>Указываем количество сахара</li>
                <li>Оплачиваем заказ</li>
                <li>Забираем кофе</li>
                <li>Наслаждаемся кофем</li>
            </ul>
            <p class="blog-component__info-item">Ассортимент включает несколько видов кофе и других горячих напитков: чая, какао, молока, бульона, а также снеков. Автоматы различной конструкции готовят напиток из зернового, растворимого, капсульного кофе. Благодаря автономности устройства
                и отсутствию трат на оплату работы продавца снижена себестоимость порции, что позволяет поддерживать приемлемый уровень цен при довольно высоком качестве готового продукта.</p>
            <p class="blog-component__info-item">Чашечка крепкого ароматного напитка без длительного поиска кофейни, буквально на бегу, привлекает занятых людей. Сегодня горячий вендинговый кофе из автомата доступен в любое время суток и готов за считанные секунды. Аппарат выполняет функции
                обычной торговой точки: принимает деньги, выдает сдачу, готовит напиток и наполняет стаканчик без присутствия человека.</p>
            <p class="blog-component__info-item">Вкус кофе - вкус жизни!</p>
        </div>
    </section>
</article>