.blog-component {
    &__label {
        margin: 50px 0;
    }
    &__content {}
    &__content-img {
        display: block;
        width: 60vw;
        margin: 0 auto;
        border-radius: 30px;
    }
    &__additional-img {
        border-radius: 30px;
        width: 40vw;
        margin: 10px 30px 0 0;
    }
    &__content-info {
        text-align: justify;
    }
    &__ingo-item {}
    ul {
        margin-left: 50px;
        list-style: square;
    }
}