<article class="contacts">
    <h2 class="contacts__label">Наши контакты</h2>
    <section class="contacts__section">
        <div class="contacts__content">
            <ul class="contacts__content-items">
                <li class="contacts__content-item contacts__content-item_1st">
                    <h3 class="contacts__title">Связаться с нами:</h3>
                    <div class="contacts__content-wrapper">
                        <span class="contacts__info">+7 995 141 05 05</span>
                        <span class="contacts__phone">d.sergei.dev@gmail.com</span>
                    </div>
                </li>
                <li class="contacts__content-item contacts__content-item_2nd">
                    <h3 class="contacts__title">Юридический адрес:</h3>
                    <div class="contacts__content-wrapper">
                        <span class="contacts__info">Российская Федерация, 400005, Волгоградская обл., г. Волгоград, проспект Имени В.И. Ленина, д. 28</span>
                    </div>
                </li>
                <li class="contacts__content-item contacts__content-item_3rd">
                    <h3 class="contacts__title">Адрес склада:</h3>
                    <div class="contacts__content-wrapper">
                        <span class="contacts__info">Московская область, Балашиха, Западная промзона, Шоссе энтузиастов 1</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="contacts__map" style="position:relative;overflow:hidden;">
            <a href="https://yandex.ru/maps/org/volgogradskiy_gosudarstvenny_tekhnicheskiy_universitet/1094248524/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Волгоградский государственный технический университет</a>
            <a href="https://yandex.ru/maps/38/volgograd/category/university_college/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Волгограде</a>
            <iframe class="contacts__map-frame" src="https://yandex.ru/map-widget/v1/-/CCUJMTeewD" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </section>
</article>