<article class="wildcard">
    <h1 class="wildcard__label">Страница не найдена</h1>
    <section class="wildcard__section">
        <div class="wildcard__img">
            <img src="/assets/images/wildcard/sad_icebear.png" alt="">
        </div>
        <div class="wildcard__content">
            <h2 class="wildcard__title">Похоже, мы не можем найти нужную вам страницу</h2>
            <h3 class="wildcard__info">Код ошибки: 404</h3>
            <input type="button" class="wildcard__button" value="На главную">
        </div>
    </section>
</article>