<article class="blog-component">
    <h3 class="blog-component__label">Как сварить кофе в аэропрессе:</h3>
    <section class="blog-component__content">
        <img class="blog-component__content-img" src="/assets/images/blog/aero-press/aero-press-main.jpg" alt="cezve with beans img">
        <div class="blog-component__content-info">
            <p class="blog-component__info-item">Аэропресс, не путайте с Френч-прессом, Это самый-самый простой способ приготовления кофе с раскрытием тайных нот. Самый молодой, ведь он появился всего лишь в 2005 году. Самый неприхотливый, потому что для аэропресса не нужны дорогостоящие
                машины и оборудование. Готовить кофе с аэропрессом можно дома и на работе, в поезде и на пикнике. Спасибо его изобретателю, Алану Адлеру.</p>
            <p class="blog-component__info-item">Аэропресс — это метод, при котором вода проходит через кофе под давлением руки. Благодаря бумажному фильтру напиток получается чистым и прозрачным, а благодаря давлению — более плотным, чем капельные методы заваривания: например, как пуровер.</p>
            <p class="blog-component__info-item">Помол для аэропресса — средний. Примерно как для пуровера. Аэропресс даёт более широкое поле для экспериментов с помолом по сравнению с другими методами, так как более чутко реагирует на изменения. Мы рекомендуем подстраивать помол для разных
                сортов кофе в зависимости от вкуса.</p>
            <img class="blog-component__additional-img" src="/assets/images/blog/aero-press/aero-press-cute.jpg" alt="">
            <p class="blog-component__info-item">Оптимальная закладка кофе для аэропресса — 18 грамм. В отличие от других методов приготовления, в аэропрессе используют больше кофе по отношению к воде: около 70 грамм на 1 литр. Но это не значит, что нужно всегда использовать именно столько
                кофе. Мы рекомендуем регулировать пропорции в зависимости от вкуса.</p>
            <p class="blog-component__info-item">Оптимальная температура для приготовления кофе в аэропрессе 90°С. Чтобы получить такую температуру, нужно вскипятить воду, а затем остудить её в течение полутора минут с открытой крышкой.</p>
            <p class="blog-component__info-item">Выбор температуры также зависит от степени обжарки кофе — чем темнее кофе, тем ниже нужна температура. А также от времени заваривания, чем меньше время заваривания, тем выше следует выбирать температуру заваривания.</p>
            <p class="blog-component__info-item">Перед установкой сетки с бумажным фильтром в аэропресс нужно пролить через фильтр немного горячей воды, чтобы избавиться от возможного привкуса бумаги.</p>
            <p class="blog-component__info-item">Затем нужно засыпать молотый кофе в аэропресс. Мы рекомендуем вливать воду в два этапа для более полной экстракции кофе. Сначала нужно влить треть от всего объёма воды по отношению кофе. То есть на 18 грамм кофе можно взять 50–60 мл воды и
                подождать 30 секунд. Затем залить оставшуюся воду.</p>

            <img class="blog-component__additional-img_last" src="/assets/images/blog/aero-press/aero-press-on-tray.jpeg" alt="">
            <p class="blog-component__info-item">После заваривания, нужно снять поршень, перемешать кофе, установить поршень обратно и с постоянным давлением плавно опускать его в течение 20–30 секунд.</p>
            <p class="blog-component__info-item">Не рекомендуется продавливать поршнем воду до самого конца, поскольку есть вероятность попадания в напиток большего количества мелких частиц, что приведет к продолжению экстракции напитка уже в чашке или сервировочном чайнике.</p>
            <p class="blog-component__info-item">Давите равномерно на поршень аэропресса в течении 15-30 секунд. Если поршень продавливается слишком легко, вероятно ваш помол слишком крупный и наоборот. Ваш кофе будет готов, когда вы услышите свистящий звук из крышки аэропресса, при давлении.
                Это означает, что вся вода прошла через кофе, и остался только воздух. ​​</p>
            <p class="blog-component__info-item">Фильтр всегда прилипает к слою кофе, что позволяет очень очень удобно выкинуть все отходы, просто надавив до конца на поршень. После уборки использованного фильтра с кофе пора наслаждаться напитком!</p>
            <p class="blog-component__info-item">Человек идет и улыбается? Значит в человеке есть кофе!</p>
        </div>
    </section>
</article>