<article class="blog-component">
    <h3 class="blog-component__label">Как сварить кофе в чашке:</h3>
    <section class="blog-component__content">
        <img class="blog-component__content-img" src="/assets/images/blog/usial-cup/usial-cup-with-bag.jpg" alt="cezve with beans img">
        <div class="blog-component__content-info">
            <p class="blog-component__info-item">Настоящие фанаты, где бы они не находились, сделают почти все возможное, чтобы приготовить идеальную чашку кофе. Даже если это отнимает много времени и сил, или приходиться готовить кофе в неожиданных местах, например в самолете.</p>
            <p class="blog-component__info-item">Для кофейного гика, вполне естественно попросить у стюардессы горячей воды, чтобы заварить аэропресс на борту и насладиться жизнью.</p>
            <p class="blog-component__info-item">Любой из нас может оказаться в ситуации, когда нет под руками любимой кофеварки. Столкнувшись с перспективой остаться без любимого напитка, не отчаивайтесь, ведь единственное что вам необходимо это: кружка, кофе и вода!</p>
            <p class="blog-component__info-item">Главное на что стоит обратить внимание – это время заваривания кофе. Если кофе заваривать слишком долго, то он переварится и у напитка появится горький привкус.</p>
            <img class="blog-component__additional-img" src="/assets/images/blog/usial-cup/usial-cup-with-spoon.jpg" alt="">
            <p class="blog-component__info-item">Используйте широкую чашку. Конечно, для заваривания подойдет чашка любого объема, формы или материала, но в широкой кружке вода остынет быстрее, и кофе не заварится сильнее чем нужно.</p>
            <p class="blog-component__info-item">Используйте чуть меньше воды, и после четырех минут заваривания киньте пару кубиков льда в кружку. Так мы снизим температуру в чашке настолько, чтобы замедлить экстракцию и остановить горечь.</p>
            <p class="blog-component__info-item">Советуем экспериментировать с помолом и временем заваривания кофе, чтобы найти свой идеальный баланс во вкусе. Начните с крупного помола, так частицы кофе быстрее осядут на дно, и кофейная гуща не будет мешать наслаждаться напитком. Такой
                кофе еще называют «по-варшавски».</p>
            <p class="blog-component__info-item">Кстати, такой простой способ заваривания часто используется экспертами при дегустации. Кофейные оттенки раскрываются, и вы можете почувствовать фруктовые и ягодные ноты во вкусе.</p>
            <p class="blog-component__info-item">Кофе в теле - душа в небе!</p>
        </div>
    </section>
</article>