<div class="header">
    <div class="header__logo"><a href="/coffee-store/src/index.html">Diachenko</a></div>
    <nav>
        <span class="nav__burger-menu"></span>
        <ul class="nav">
            <li class="nav__catalog-products">
                <a href="">Каталог товаров</a>
            </li>
            <li class="nav__blog">
                <a href="">Блог</a>
            </li>
            <li class="nav__contacts">
                <a href="">Контакты</a>
            </li>
        </ul>
    </nav>
    <div class="menu">
        <div class="menu__search">
            <a href=""></a>
        </div>
        <div class="menu__cart">
            <a href=""></a>
        </div>
        <div class="menu__account">
            <a href=""></a>
        </div>
    </div>
</div>