<div class="{{ header }}">
    <div class="header__logo">
        <a routerLink="">
            <div>Diachenko's</div>
            <img src="/assets/images/navigation/black/logo-img.png" alt="">
        </a>
    </div>
    <div class="background-isolator"></div>
    <nav>
        <div class="burger-menu__wrapper" (click)="changeBurgerMenu()">
            <span class="nav__burger-menu"></span>
        </div>
        <ul class="nav">
            <li class="nav__catalog-products">
                <a href="#catalog">Каталог товаров</a>
            </li>
            <li class="nav__blog">
                <a href="">Блог</a>
            </li>
            <li class="nav__contacts">
                <a routerLink="/contacts">Контакты</a>
            </li>
        </ul>
    </nav>
    <div class="menu">
        <div class="menu__search">
            <a href=""></a>
        </div>
        <div class="menu__cart">
            <a href=""></a>
        </div>
        <div class="menu__account">
            <a href=""></a>
        </div>
    </div>
</div>