<article class="blog-component">
    <h3 class="blog-component__label">Как сварить кофе во френч-прессе:</h3>
    <section class="blog-component__content">
        <img class="blog-component__content-img" src="/assets/images/blog/french-press/french-press.jpeg" alt="cezve with beans img">
        <div class="blog-component__content-info">
            <p class="blog-component__info-item">Классический френч-пресс представляет собой цилиндрическую ёмкость из жаропрочного стекла (реже – из нержавейки или керамики) с крышкой, куда вставлен поршень (плунжер) с фильтром. Казалось бы, всё просто. Молотый кофе нужно засыпать в сосуд,
                закрыть его, опустить пресс – и бодрящий напиток готов. Но вкус кофе, заваренного во френч-прессе, зависит от множества мелочей: сорта зёрен, способа обжарки, помола, качества воды, времени заваривания.</p>
            <p class="blog-component__info-item">Лучше всего готовить во френч-прессе 100%-ю арабику, причём опытные бариста отдают предпочтение моносортам, хотя допустимы и смеси.</p>
            <p class="blog-component__info-item">Помол кофе для френч-пресса должен быть грубым или средним. Если зёрна смолоты в пыль, то в чашке останется взвесь из мельчайших частиц. Огромное значение имеет равномерность помола. Лишь в том случае, если размер фракций будет примерно одинаковым,
                во вкусе и аромате напитка проявятся все присущие сорту нюансы.</p>
            <img class="blog-component__additional-img" src="/assets/images/blog/french-press/french-press-with-flowers.jpg" alt="">
            <p class="blog-component__info-item">При неравномерном помоле вкус кофе будет более грубым. Отчасти этим и объясняется нелюбовь профессиональных бариста к смесям с робустой: её зёрна твёрже, чем у арабики, соответственно, и частицы крупнее.</p>
            <p class="blog-component__info-item">В магазинах продаётся уже готовый молотый кофе, но напиток из зёрен, измельчённых непосредственно перед приготовлением, получается ароматнее. В домашних условиях молотый кофе хранят в герметично закрывающихся сосудах не дольше 2 недель.</p>
            <p class="blog-component__info-item">Для заваривания кофе во френч-прессе не годится вода из-под крана, даже кипячёная. В крайнем случае такую воду можно очистить с помощью аквафильтра или озонатора. Но гораздо предпочтительнее бутилированная вода с показателем минерализации
                150 мг/л (или хотя бы в диапазоне 70–200 мг/л).</p>
            <p class="blog-component__info-item">Если нужно приготовить латте или капучино, то, быстро двигая поршень, легко взбить в пену горячее молоко (температура должна быть не ниже +60 °C).</p>
            <p class="blog-component__info-item">В первые полторы минуты экстракции молотый кофе выделяет эфирные масла и вещества, придающие напитку кислинку. Затем приходит черёд шоколадных, сладких оттенков. В последние 30 минут экстрагирования кофе приобретает горький привкус. Варьируя
                длительность разных этапов, можно экспериментировать со вкусом напитка.</p>
            <p class="blog-component__info-item">Да прибудет с вами кофе!</p>
        </div>
    </section>
</article>