<article class="blog-component">
    <h3 class="blog-component__label">Как сварить кофе в мока:</h3>
    <section class="blog-component__content">
        <div class="blog-component__content-imges">
            <div class="blog-component__content-imges-wrapper">
                <img class="blog-component__content-img third" src="/assets/images/blog/moka-pot/moka-pot-3.jpg" alt="cezve with beans img">
                <img class="blog-component__content-img second" src="/assets/images/blog/moka-pot/moka-pot-2.jpg" alt="cezve with beans img">
            </div>
            <img class="blog-component__content-img first" src="/assets/images/blog/moka-pot/moka-pot-1.jpg" alt="cezve with beans img">
        </div>
        <div class="blog-component__content-info">
            <p class="blog-component__info-item">Пора воскликнуть «Мамммаа миаааа!» — ведь это самый-самый итальянский способ приготовления кофе. Разумеется, La Marzocco, Nuova Simonelli, La Cimbali и другие профессиональные кофемашины тоже итальянцы, но популяция гейзерных кофеварок (она
                же Перколятор) превосходит их во многие тысячи раз — в каждой итальянской, и не только, семье она есть. Готовить кофе в ней просто и быстро, а результат порадует вас, если следовать нашим советам. Прего!</p>
            <p class="blog-component__info-item">Гейзерная кофеварка (она же мока) покорила сердца людей по всему миру своей простотой, удобством и качеством готового напитка. Благодаря изобретению синьора Альфонсо Биалетти миллионы людей могут готовить эспрессо прямо у себя дома, не покупая
                при этом дорогостоящую технику. Однако, несмотря на простоту, у каждого способа есть свои нюансы.</p>
            <p class="blog-component__info-item">Внешне кофеварка традиционного дизайна напоминает восьмигранные песочные часы. Мока состоит из трёх основных частей, и её работа основана на простых принципах физики. Нижняя камера устройства предназначена для воды, средняя или фильтр-корзина
                — для молотого кофе и верхняя для готового напитка.</p>
            <img class="blog-component__additional-img" src="/assets/images/blog/moka-pot/moka-pot-with-cookies.jpg" alt="">
            <p class="blog-component__info-item">Процесс экстракции кофе действительно интересен. Давление в бойлере достигает 2-х атмосфер (благодаря хорошей герметичности), вода нагревается до температуры около 90 ° C и начинает подниматься вдоль фильтра, проходит через кофе, и направляется
                вдоль столбика в верхней части мока: вот ваш кофе, который начинает выходить, наполняя кухню своим ароматом.</p>
            <p> После готовности обязательно перемешать кофе в верхней части, потому что только таким образом часть самой тяжелой жидкости и самая легкая часть уравновешиваются.</p>
            <p class="blog-component__info-item" class="blog-component__info-item">Дождитесь вулканической фазы: вода закончится и начнет брызгать из дозирующего сопла, послышится легкий «фыркающий» звук. Пора снимать кофеварку с огня. Снимите моку с плиты и подставьте основание под струю холодной воды, чтобы окончательно
                прервать экстракцию.</p>
            <p class="blog-component__info-item">После готовности обязательно перемешать кофе в верхней части, потому что только таким образом часть самой тяжелой жидкости и самая легкая часть уравновешиваются. С сахаром или горький? Настоящие любители кофе употребляют его без сахара, чтобы
                насладиться его насыщенным всесторонним вкусом. Сахар немного маскирует недостатки.</p>
            <p class="blog-component__info-item">Всем хорошего кофе!</p>
        </div>

    </section>
</article>