<article class="blog-component">
    <h3 class="blog-component__label">Как сварить кофе в эспрессо-машине:</h3>
    <section class="blog-component__content">
        <img class="blog-component__content-img" src="/assets/images/blog/espresso-machine/espresso-machine-with-cups.png" alt="cezve with beans img">
        <div class="blog-component__content-info">
            <p class="blog-component__info-item">Необходимо всегда помнить, что эспрессо – это кулинарное творение и важнейшим показателем его качества является вкус.Тягучесть напитка – отличный индикатор. Струйки кофе должны быть тонкими и тягучими. Цвет струек должен быть насыщенным цветом
                крема и оставаться почти постоянным в течение 20–22 сек. Изучите таблетку после пролива. Она не должна быть рыхлой, не должна иметь отверстий, каналов и трещин.</p>
            <p class="blog-component__info-item">Самым первым из них является сам кофе. Наиважнейшим требованием к зернам для эспрессо является их свежесть. В принципе, для эспрессо пригоден кофе, с момента обжарки которого прошло не больше месяца.</p>
            <p class="blog-component__info-item">От свежести зависят не только вкусовые характеристики напитка и количество крема, а что очень важно для начинающих – характер пролива. </p>
            <p class="blog-component__info-item">Старайтесь проводить трамбовку максимально ровно, без финального перекоса кофейной таблетки (существует несколько техник трамбовки, выберите для себя подходящую и закрепите ее на практике). В результате перекошенной кофейной таблетки вода
                будет неравномерно захватывать ее поверхность, что приведет к ухудшению вкуса.</p>
            <p class="blog-component__info-item">После завершения темперовки нужно удалить остатки молотого кофе ладонью с краев корзины и «ушек» портафильтра, чтобы крупинки не запеклись на резиновой прокладке группы. Чтобы удостовериться, что кофе утрамбован правильно, наблюдайте за процессом
                экстракции, эспрессо должен выливаться с носика портафильтра как мед с ложки без явных колебаний в струйке и увеличения или уменьшения пролива.</p>
            <img class="blog-component__additional-img" src="/assets/images/blog/espresso-machine/espresso-machine-with-any-sorts.png" alt="">
            <p class="blog-component__info-item">Необходимым условием для получения эспрессо является скорость пролива, которая для для двойной корзины, вмещающей 16-20 г кофе, а именно ее надо использовать начинающим: в ней легче добиться равномерной экстракции благодаря более широкому
                диаметру сетки. Для этого необходимо подобрать вполне определенное соотношение количества кофе в рожке и величины его помола.</p>
            <p class="blog-component__info-item">Величина помола оказывает существенное влияние на вкус эспрессо, но, чтобы правильно ее использовать, необходимо предварительно научиться четко контролировать и стабильно выдерживать неизменные параметры, такие как доза, распределение и трамбовка.
                Например, при абсолютно необходимом уменьшении величины помола, но случайной передозировке в итоге будет сделан ошибочный вывод о том, что уменьшение помола было неправильным решением.</p>
            <p class="blog-component__info-item">Благодаря множеству специальных компонентов еспрессо-машины способны производить огромное количество вариативных напитков. Каждый сможет готовить себе именно свой тип кофе с особенным уникальными аспектами, которые всем придутся по нраву.</p>
            <p class="blog-component__info-item">Всегда принимайте во внимание химический состав воды, которую вы используете для заваривания. Поэкспериментируйте с использованием бутилированной воды из разных сортов и производителей. Помните, что окружающая среда всегда влияет на условия,
                в которых вы завариваете кофе. Температура и влажность - два важных фактора означающие, что необходимо изменить настройки помола или диапазон времени экстракции</p>
            <p class="blog-component__info-item">Вперед! По Кофе!</p>
        </div>

    </section>
</article>