<div class="wrapper">
    <article class="strong-qualities">
        <div class="strong-qualities__title-wrapper">
            <h2 class="strong-qualities__title-text">Наше качество</h2>
        </div>
        <section class="strong-qualities__wrapper">
            <img class="strong-qualities__photo" src="/assets/images/strong-qualities/cup&beans.png" alt="coffee cup with hill of coffee beans">
            <div class="strong-qualities__content">
                <ul class="strong-qualities__list">
                    <li class="strong-qualities__list-item">
                        <img class="strong-qualities__list-item-photo" src="/assets/images/strong-qualities/li_fresh_coffee.png" alt="fresh cofee icon">
                        <div class="strong-qualities__item-content">
                            <h4 class="strong-qualities__item-title">Всегда свежая обжарка</h4>
                            <span class="strong-qualities__item-info">Подбор степени обжарки под каждый сорт кофе</span>
                        </div>
                    </li>
                    <li class="strong-qualities__list-item">
                        <img class="strong-qualities__list-item-photo" src="/assets/images/strong-qualities/li_best_price.png" alt="best price icon">
                        <div class="strong-qualities__item-content">
                            <h4 class="strong-qualities__item-title">Лучшие цены на продукцию</h4>
                            <span class="strong-qualities__item-info">Благодаря крупным объемам производства мы даем лучшие цены на нашу продукцию</span>
                        </div>
                    </li>
                    <li class="strong-qualities__list-item">
                        <img class="strong-qualities__list-item-photo" src="/assets/images/strong-qualities/li_consultation.png" alt="consultation icon">
                        <div class="strong-qualities__item-content">
                            <h4 class="strong-qualities__item-title">Консультация</h4>
                            <span class="strong-qualities__item-info">Наши специалисты готовы всегда помочь 
                                и подсказать вам с выбором кофе или другой продукции.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</div>